h1 {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  text-align: center;
}

form {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}